{% extends 'base.html' %}  <!-- Adjust this if your base template is located elsewhere -->

{% block content %}
<form method="POST">
  {% csrf_token %}
  <section class="vh-100 bg-image" style="background-image: url('');">
    
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Register</h2>

                {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
                
                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Your Email</label>
                  {{ form.email }}
                  {% for error in form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  {{ form.password1 }}
                  {% for error in form.password1.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="confirm password">Confirm Password</label>
                  {{ form.password2 }}
                  {% for error in form.password2.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="user type">User Type</label>
                  {{ form.user_type }}
                  {% for error in form.user_type.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
                
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

{% endblock %}
